<main class="main_container">
  <div class="container">
    <section class="step">STEP 1 OF 3</section>
    <section class="p_1">Create a password to start your membership</section>
    <section class="p_2">Just a few more steps and you're done!</section>
    <section class="p_3">We hate paperwork, too.</section>

    <section class="register_form">
      <form>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email*</mat-label>
            <input matInput placeholder="" />
            <mat-icon matSuffix></mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Add your Password*</mat-label>
            <input matInput placeholder="" />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
        </p>
        <button class="next_btn" routerLink="/register_2">Next</button>
      </form>
    </section>
  </div>
</main>
