.container {
  background-image: url("/assets/login/background.jpeg");
  background-size: cover;
  display: flex;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.sign_in_header {
  text-align: center;
  color: white;
  font-size: 2.2rem;
  font-weight: light;
  margin-top: 35px;
  margin-bottom: 15px;
}

.sign_in_input {
  width: 23rem;
}

.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear {
  height: 75vh;
  width: 25.8vw;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.9)
  );
}

.title {
  text-align: center;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 23rem;
  border: none;
  background-color: #e50914;
  color: white;
  font-weight: 50px;
  font-size: 1.1rem;
  border-radius: 3px;
  position: relative;
  height: 40px;
  margin-bottom: 10px;

  &:disabled {
    background-color: red;
    color: #999999;
    cursor: not-allowed;
  }
}

.title:hover {
  background-color: red;
}

.detailed_content {
  flex-direction: column;
  width: 23rem;
}

.check_box {
  flex-direction: row;
  height: 1.5rem;
  line-height: 1.5rem;
  width: 100%;
  color: rgb(251, 251, 251) !important;
  font-size: small;

  a {
    position: relative;
    margin-left: 150px;
    text-decoration: none;
    color: rgb(179, 179, 179);
  }
}

.login_fb {
  height: 1.5rem;
  width: 95%;
  line-height: 1.5;
  margin: 20px 0;
  color: rgb(179, 179, 179);

  img {
    height: 90%;
    width: auto;
    margin-right: 10px;
  }
}

.sign_up_nav {
  margin-bottom: 1rem;
  width: 95%;
  line-height: 2;
  color: rgb(179, 179, 179);
  a {
    text-decoration: none;
    color: white;
  }
}

.right_description {
  position: relative;
  font-size: 0.8rem;
  width: 95%;
  line-height: 2;
  color: rgb(179, 179, 179);
  a {
    text-decoration: none;
    color: rgb(1, 113, 235);
  }
}

mat-hint {
  color: aliceblue;
}
