<nav>
  <div class="header-content">
    <div class="header-icon">
      <img
        class="header_img"
        src="../assets/home/netflix_icon.png"
        alt="Notflix_icon"
        routerLink=""
      />
    </div>
    <div class="login_container">
      <div *ngIf="!(isLogin$ | async)">
        <button class="btn" [routerLink]="['/login']">Sign In</button>
      </div>

      <div *ngIf="isLogin$ | async">
        <span class="name_box">{{ username$ | async }}</span>
        <button class="btn" (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </div>
</nav>
<!-- <button class="btn" *ngIf="!isLogin" [routerLink]="['/login']">
      Sign In
    </button>
    <button class="btn" *ngIf="isLogin" (click)="signOut()">Sign Out</button> -->
