<nav>
  <div class="header-content">
    <div class="header-icon">
      <img
        class="header_img"
        src="../assets/home/netflix_icon.png"
        alt="Notflix_icon"
        routerLink=""
      />
    </div>

    <!-- <button class="btn" *ngIf="!isLogin" [routerLink]="['/login']">
      Sign In
    </button>
    <button class="btn" *ngIf="isLogin" (click)="signOut()">Sign Out</button> -->

    <div *ngIf="!isLogin; else loggedInTemplate">
      <div class="login_container">
        <button class="btn" [routerLink]="['/login']">Sign In</button>
      </div>
    </div>

    <ng-template #loggedInTemplate>
      <div class="logout_container">
        <span>{{ username }}</span>
        <button class="btn" (click)="signOut()">Sign Out</button>
      </div>
    </ng-template>
    <!-- 
    @if (!isLogin) {
    <div class="login_container">
      <button class="btn" [routerLink]="['/login']">Sign In</button>
    </div>
    } @else {
    <div class="logout_container">
      <span> {{ username }} </span>
      <button class="btn" (click)="signOut()">Sign Out</button>
    </div>
    } -->
  </div>
</nav>
