nav {
  background: transparent;
}

.header-content {
  display: flex;
  width: 93vw;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.btn {
  height: 2.5rem;
  width: 6rem;
  border: none;
  background-color: #e50914;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 3px;
  position: relative;
  margin-left: 75%;
  height: 40px;
}

.btn:hover {
  background-color: red;
}

.header_img {
  margin-top: 2%;
  height: 60%;
  margin-left: 10%;
}

.login_container {
  margin-top: 1%;
  height: 100%;
  position: relative;
}

.name_box {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: aquamarine;
}
