<nav>
  <div class="header-content">
    <div class="header-icon">
      <img
        class="header_img"
        src="../assets/home/netflix_icon.png"
        alt="Notflix_icon"
        routerLink=""
      />
    </div>
    <button class="btn" routerLink="/login">Sign in</button>
    <!-- @if (!isLogin) {
    <div class="login_container">
      <button mat-raised-button class="signIn_btn" [routerLink]="['/login']">
        Sign In
      </button>
    </div>
    } @else {
    <div class="logout_container">
      <span> {{ username }} </span>
      <button mat-raised-button class="signOut_btn" (click)="signOut()">
        Sign Out
      </button>
    </div>
    } -->
  </div>
</nav>
