<div class="main-page-content">
  <app-main-header></app-main-header>
  <main class="content">
    <header>
      <section class="content_h1">
        <h1>Unlimited movies, TX shows, and more.</h1>
      </section>
    </header>
    <section class="content_h2">
      <h2>Watch anywhere. Cancel anytime.</h2>
    </section>
    <section class="content_h3">
      <summary>
        <h3>
          Ready to watch? Enter your email to create or restart your membership.
        </h3>
      </summary>
    </section>
    <section class="input_container">
      <form>
        <input class="start_input" type="text" placeholder="Email Address" />
        <button class="start_btn" routerLink="/login">Get Started :)</button>
      </form>
    </section>
  </main>
</div>
