.main-page-content {
  height: 100vh;
  width: 100%;
  background-image: url("/assets/home/netflix_main.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.content {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.input_container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 2.8rem;
  margin-top: 20px;
}
.start_input {
  height: 100%;
  margin: auto;
  border: none;
  outline: none;
  padding-left: 1rem;
  font-size: 1rem;
  border-radius: 5px;
}
.start_btn {
  background-color: #e50914;
  outline: none;
  text-align: center;
  height: 100%;
  // line-height: 2.5rem;
  width: 9rem;
  border: none;
  color: white;
  // font-weight: 50px;
  font-size: 1rem;
  border-radius: 3px;
  position: relative;
  // height: 40px;
  // margin-bottom: 10px;
  &:hover {
    background-color: #c12929;
  }
}
